.container {
    text-align: center;
}

.title {
    margin-top: 40px;
    color: #ffffff;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title span {
    color: #26ffcb;
    padding-left: 15px;
}

/* STATUS TEXT */
.status {
    color: #ffffff;
    font-size: 24px;
    margin-top: 15px;
}

/* RESET BUTTON */
.reset {
    width: 220px;
    height: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 24px;
    color: #26ffcb;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* BOARD */
.board {
    width: 390px;      /* 3 × 120 + borders */
    height: 390px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

/* BOXES */
.boxes {
    display: flex;
    width: 120px;
    height: 120px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #26ffcb;
}

.boxes.o {
    color: yellow;
}
p{
    color:rgb(37, 255, 8)
}